*.class
*.iml
*.jar
.cpcache/
.firebase/
.idea/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.rebel_readline_history
/*-init.clj
/*.log
/checkouts/
/classes/
/lib/
/resources/public/js/compiled
/target/
out
pom.xml
pom.xml.asc
