.dice {
  width: 95px;
  height: 95px;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.tinydice {
  width: 30px;
  height: 30px;
  background-size: 60% 85%;
  background-repeat: no-repeat;
  background-position: top;
  margin: auto;
}

.dice.dice-1 {
  background-image: url(../img/dice-1.png);
}
.dice.dice-2 {
  background-image: url(../img/dice-2.png);
}
.dice.dice-3 {
  background-image: url(../img/dice-3.png);
}
.dice.dice-4 {
  background-image: url(../img/dice-4.png);
}
.dice.dice-5 {
  background-image: url(../img/dice-5.png);
}
.dice.dice-6 {
  background-image: url(../img/dice-6.png);
}

.tinydice.dice-1 {
  background-image: url(../img/dice-1.png);
}
.tinydice.dice-2 {
  background-image: url(../img/dice-2.png);
}
.tinydice.dice-3 {
  background-image: url(../img/dice-3.png);
}
.tinydice.dice-4 {
  background-image: url(../img/dice-4.png);
}
.tinydice.dice-5 {
  background-image: url(../img/dice-5.png);
}
.tinydice.dice-6 {
  background-image: url(../img/dice-6.png);
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #b8daff;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.boxed {
  border: 1px solid #eee;
}
