.dice {
  width: 95px;
  height: 95px;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  backgrou-position: center;
}

.tinydice {
  width: 50px;
  height: 50px;
  margin: 2px;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  }

.dice.dice-1 {
  background-image: url(../img/dice-1.png);
}
.dice.dice-2 {
  background-image: url(../img/dice-2.png);
}
.dice.dice-3 {
  background-image: url(../img/dice-3.png);
}
.dice.dice-4 {
  background-image: url(../img/dice-4.png);
}
.dice.dice-5 {
  background-image: url(../img/dice-5.png);
}
.dice.dice-6 {
  background-image: url(../img/dice-6.png);
}

.tinydice.dice-1 {
  background-image: url(../img/dice-1.png);
}
.tinydice.dice-2 {
  background-image: url(../img/dice-2.png);
}
.tinydice.dice-3 {
  background-image: url(../img/dice-3.png);
}
.tinydice.dice-4 {
  background-image: url(../img/dice-4.png);
}
.tinydice.dice-5 {
  background-image: url(../img/dice-5.png);
}
.tinydice.dice-6 {
  background-image: url(../img/dice-6.png);
}
